<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>About Smart Contact Manager</title>
    
</head>
<body>
    <header>
        <h1>Smart Contact Manager</h1>
    </header>
    <section>
        <h2>About Us</h2>
        <p>This application allows users to login, create and manage their contacts, save them to a database, reset their passwords, and perform other operations. It's designed to help you efficiently manage your contacts and ensure your data is secure.</p>
    </section>
   
</body>
</html>
